@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

.cooltext_wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.char {
  --delay: calc(var(--char-index) * 10ms);
  opacity: 0;
  transform: translate3d(0, 1em, 0);
  animation: appear 0.8s var(--delay, 0ms) 1 forwards normal
    cubic-bezier(0.46, -0.71, 0.54, 1.95);
}

@keyframes appear {
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

.cooltext {
  font-weight: 300;
  font-size: 2.3rem;
}
